.disk {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: lightsteelblue;
    border: 2px solid black;
    transition:
        left .7s linear,
        top .7s linear;
}

.cards {
    position: absolute;
    width: 18px;
    height: 23px;
    border-radius: 20%;
    background: red;
    border: 3px solid white;
    transition:
        left .7s linear,
        top .7s linear;
}

.ferrers {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    border: 1px solid black;
    transition:
        left .7s linear,
        top .7s linear;
}

.young {
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 0%;
    background: white;
    border: 2px solid black;
    transition:
        left .7s linear,
        top .7s linear;
}

.partnumber {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
}
